<div class="container "> 
    
    <h2 class="me-3">Contacto</h2>

    <div class="d-flex justify-content-center">
    <table class="table w-50 mt-4 ms-5">
        <thead>

        </thead>
        <tbody>
        <tr>
            
            <td><i class="fa fa-envelope-o" ></i></td>
            <td>{{data_about.email}}</td>
        </tr>
        <tr>
            <td><i class="fa fa-whatsapp" aria-hidden="true"></i></td>
            <td>{{data_about.tel}}</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>