

<div class="container">
    <div class="container-header-component" >
        
        <h2 class="header-title-component">Formacion</h2>
        <button   (click)="add()" class ="btn btn-outline-secondary" id="add-button"><i class="fa fa-plus"></i></button>
    </div>
    

    <div class="container" id="container-cards">
        
        <div *ngFor="let formacion of formaciones" class="container-fluid"   >
          
            <div class="row align-items-center" id="card-info-container"> 
        
                <div class="col-2">
                    <img  class="img-fluid" id="logo" src={{formacion.url_logo}}>
                </div>
                <div class="col ">  
                    <div class="container-fluid" id="card-info">     
                               <!-- falta logo -->
                                <h3 class="card-title">{{formacion.titulo}}</h3>
                                <h4>{{formacion.nombre_institucion}}</h4>
                                <p >{{formacion.descripcion}}</p>
                                <p *ngIf="formacion.duracion !=0">{{formacion.duracion}} hs</p>
                                <p *ngIf="formacion.ano_inicio">{{formacion.ano_inicio}}</p>
                                <p *ngIf="formacion.ano_finalizacion !=0; else elseBlock">{{formacion.ano_finalizacion}}</p>
                                <ng-template #elseBlock>en curso</ng-template>          
                    </div>
                </div>
                <div class="col-1 "> 
                    <div class="btn-group" role="group" id="boton-group">
                        <button  class="btn btn-outline-secondary" (click)="update(formacion.id_formacion)" id="btnEdit"><i class="fa fa-pencil" ></i></button>
                        <button type="button"  (click)="del(formacion.id_formacion)"  class="btn btn-outline-secondary" id="btnDel"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                
            </div> 
            
        </div>
    </div>
</div>

