
<div class="navbar sticky-top " id="navbar">
    <div class="container">
    <a class="btn btn-secondary" routerLink='/formacion'  >Formacion</a>
    <a class="btn btn-secondary" routerLink='/proyectos'  >Proyectos</a>
    <a class="btn btn-secondary" routerLink='/experiencia'  >Experiencia</a>
    <a class="btn btn-secondary" routerLink='/tecnologias'  >Tecnologias</a>
    <a >Contacto</a>
    
    <!-- <a class="btn btn-secondary" routerLink='/formacion' (click)="onClickScroll('myheader')" >Home</a> -->
    <!-- <a class="btn btn-secondary"   >Formacion</a>
    <a class="btn btn-secondary" (click)="onClickScroll('proyectos')">Proyectos</a>
    <a class="btn btn-secondary" (click)="onClickScroll('habilidades')">Habilidades</a>
    <a class="btn btn-secondary" (click)="onClickScroll('experiencia')">Experiencia</a>
    <a class="btn btn-secondary" (click)="onClickScroll('contacto')">Contacto</a> -->
    </div>
</div>