
<div class="navbar sticky-top " id="navbar">
    <div class="d-flex btn-group ms-5" role="group "> 
        <a class="btn btn-secondary" routerLink='/home/welcome'  >Home</a> 
        <a class="btn btn-secondary" routerLink='/home/formacion'   >Formacion</a>
        <a class="btn btn-secondary" routerLink='/home/proyectos'  >Proyectos</a>
        <a class="btn btn-secondary" routerLink='/home/experiencia'  >Experiencia</a>
        <a class="btn btn-secondary" routerLink='/home/tecnologias'  >Tecnologias</a>
        <a class="btn btn-secondary" routerLink='/home/contacto' >Contacto</a>
    </div>
    <div class="me-5">    
        <a *ngIf=" !isLogged" type="button" routerLink="/login" class="btn btn-secondary " id="login-btn" >Log In
            <i  class="fa fa-user-circle" id="buttonImg"></i>
        </a>
        <a *ngIf=" isLogged" type="button" (click)="logout()"  class="btn btn-secondary" id="login-btn">Log out
            <i  class="fa fa-user-circle" id="buttonImg"></i>
        </a>
    </div>
</div>