<div class="container"> 
<div class="container-header-component">
    <h2 class="header-title-component">Proyectos</h2>
    <button  (click)="add()" class="btn btn-outline-secondary" id="add-button"><i class="fa fa-plus"></i></button>
</div>



<div class="container" id="container-cards" >
    <div *ngFor="let proyecto of proyectos" class="container-fluid" >
          
        <div class="row align-items-center" id="card-info-container"> 
            
                <div class="col-2 " >
                        <img  class="img-fluid" id="logo" [src]="proyecto.url_logo" alt="https://cdn-icons-png.flaticon.com/512/1087/1087840.png" >
                </div>
                <div class="col "> 
                        <div id="card-info">
                        
                        <h3 class="card-title">{{proyecto.nombre_proyecto}}</h3>
                        <p>{{proyecto.descripcion}}</p>
                        <p>{{proyecto.tecnologias}}</p>
                        </div>
                </div>
                <div class="col-1"> 
                        <div class="btn-group" role="group" id="boton-group">
                                <button  class="btn btn-outline-secondary" (click)="update(proyecto.id_proyecto)" ><i class="fa fa-pencil" ></i></button>
                                <button type="button" (click)="del(proyecto.id_proyecto)" class="btn btn-outline-secondary"><i class="fa fa-minus"></i></button>
                        </div>
                </div>        
        </div>                 
    </div>         
</div>
</div>  

