
<div class="component">
    <div class="container-header-component">
        <h2 class="header-title-component">Agregar Experiencia</h2>
    </div>

    <form class="form" (ngSubmit)="onSubmit()" [formGroup]="add_experiencia_form" > 
    
        <label for="Input1" class="form-label" >Nombre de Empresa</label>
        <input 
        name="nombre_empresa"
        type="text" 
        class="form-control" 
        formControlName="nombre_empresa" 
        id="Input1" 
        placeholder="Nombre de Empresa"
        >


        <label for="Input2" class="form-label" >Puesto</label>
        <input 
        type="text" 
        class="form-control" 
        formControlName="puesto" 
        id="Input2" 
        placeholder="Puesto"
        >
        
    
        <label for="Textarea1" class="form-label">Descripcion</label>
        <textarea 
        
        class="form-control"
        formControlName="descripcion" 
        id="Textarea1" 
        rows="2"
        placeholder="Descripcion"
        ></textarea>
    
        <label for="Input3" class="form-label" >Año de Inicio</label>
        <input 
        type="text" 
        class="form-control" 
        formControlName="ano_inicio" 
        id="Input3" 
        placeholder="Año de Inicio"
        >



        <label for="Input4" class="form-label" >Año de Finalizacion</label>
        <input 
        type="text" 
        class="form-control" 
        formControlName="ano_finalizacion" 
        id="Input4" 
        placeholder="Año de Finalizacion"
        >

        <label for="Input5" class="form-label" >Web</label>
        <input 
        
        type="text" 
        class="form-control" 
        formControlName="web" 
        id="Input5" 
        placeholder="Place Url"
        >

        <label for="Input6" class="form-label" >Url Logo</label>
        <input 
        
        type="text" 
        class="form-control" 
        formControlName="url_logo" 
        id="Input6" 
        placeholder="url"
        >
    
        <div class="form-btn-group">
            <button type="submit"   class="btn btn-primary" id="btnFormAdd">Guardar</button>
            <button type="button"  routerLink="/experiencia" class="btn btn-primary">Cancelar</button>
            
        </div> 
</form>


</div>
