<div class="col" >  
            <button type="button" routerLink="/login" class="btn btn-secondary" id="login-btn" >Log In
                <i  class="fa fa-user-circle" id="buttonImg"></i>
            </button>
            <button type="button"   class="btn btn-secondary" id="login-btn">Log out
                <i  class="fa fa-user-circle" id="buttonImg"></i>
            </button>
     </div> 

     <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<app-myheader  ></app-myheader>
<app-navbar></app-navbar>

<router-outlet ></router-outlet> 

<!-- <app-formacion [item]="currentItem" ></app-formacion>
<app-experiencia [item]="currentItem"></app-experiencia>
<app-proyectos [item]="currentItem" ></app-proyectos>
<app-habilidades [item]="currentItem"></app-habilidades>
<app-social [item]="currentItem" ></app-social> --> 
