
<div class="container">
    <form class="form mx-auto"  (ngSubmit)="onSubmit()"  [formGroup]="login_form">
      
      <div class="form-group row">
        <div class="col-sm-2">
          <label for="inputUser" class="col-form-label">Username</label>
        </div>
        <div class="col-auto">
          <input 
          type="email" 
          class="form-control"
          formControlName="username" 
          placeholder="Username"
          id="inputUser"
          
          >

          <div *ngIf="Username?.errors && Username?.touched"> 
  
            <small *ngIf="Username?.hasError('required')" class="text-danger"> 
              Username es requerido
            </small>
          </div>
  
          
        </div>
      </div>



        <div class="form-group row">
            <div class="col-sm-2">
               <label for="inputEmail" class="col-form-label">Email</label>
            </div>
            <div class="col-auto">
              <input 
              type="email" 
              class="form-control"
              formControlName="email" 
              placeholder="Email"
              id="inputEmail"
              
              >

              <div *ngIf="Email?.errors && Email?.touched"> 
      
                <small *ngIf="Email?.hasError('required')" class="text-danger"> 
                  El mail es requerido
                </small>
                <small *ngIf="Email?.hasError('email')" class="text-danger"> 
                  El formato del email debe ser valido
                </small>
              </div>
      
              
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-2">
            <label for="inputPassword" class="col-form-label">Password</label>
          </div>
            <div class="col-auto">
              <input 
              type="password" 
              class="form-control"
              formControlName="password" 
              placeholder="Password"
              id="inputPassword"
              >


              <div *ngIf="Password?.errors && Password?.touched"> 

                <small *ngIf="Password?.hasError('required')" class="text-danger">
                  El password es requerido
                </small> 
                  
                <small *ngIf="Password?.hasError('minlength')" class="text-danger"> 
                  El password debe tener al menos 8 caracteres
                </small>
              </div>
            </div>
          </div>  
 


        <div class="row">
            <div class="col" id="btns">
              <button type ="button" routerLink="/" class=" col btn btn-secondary" >Cancel</button>
              <button  type="submit" class=" col btn btn-primary" id="sigIn-btn">Log in</button>               
            </div>
        </div>

        <small *ngIf="this.validation" class="text-danger"> 
          User, Email o Password incorrectos
        </small> 
    </form>

</div>


