
<div class="container">
    
    <h2>Editar Proyecto</h2>
   
    <form class="form w-75 mt-4" (ngSubmit)="onSubmit()" [formGroup]="proyecto_form" > 
    
        <label for="Input1" class="form-label" >Nombre de Proyecto</label>
        <input 
        
        type="text" 
        class="form-control" 
        formControlName="nombre_proyecto" 
        id="Input1" 
        placeholder="Nombre de Proyecto"
        
        >

        <label for="Textarea1" class="form-label">Descripcion</label>
        <textarea 
        
        class="form-control"
        formControlName="descripcion" 
        id="Textarea1" 
        rows="2"
        placeholder="Descripcion"
        ></textarea>
    
    
        <label for="Input3" class="form-label" >Tecnologias</label>
        <input 
        
        type="text" 
        class="form-control" 
        formControlName="tecnologias" 
        id="Input3" 
        placeholder="Tecnologias"
        >

        <label for="Input4" class="form-label" >Url Logo</label>
        <input 
        
        type="text" 
        class="form-control" 
        formControlName="url_logo" 
        id="Input4" 
        placeholder="Url Logo">
        
        


        <div class="form-btn-group mt-3">
            <button type="submit"   class="btn btn-primary" id="btnFormAdd">Guardar</button>
            <button type="button" routerLink='/home/proyectos'  class="btn btn-primary">Cancelar</button>
        </div> 
</form>


</div>