
<div  class="container-fluid-m-0" id="bann">
    <img  class="img-fluid" id="fotoPerfil" [src]="about.foto_perfil" >
    <img class="img-fluid" id="banner" src="\assets\digitalBG.jpg" >
</div>


<div class="container" id="container-about1" >
            <div class="row">
                    <div class="col-auto">
                        <h1 id="name-label">{{about.nombre}}</h1>
                    </div>
                    <div class="col-1">
                        <button *ngIf="isLogged"   class="btn btn-outline-secondary" routerLink="/home/about-update" id="btnEdit"><i class="fa fa-pencil" ></i></button>
                    </div>
                    <div class="row">
                    <h3 id="titulo">{{about.titulo}}</h3>
                    <p>{{about.descripcion}}</p>
                </div>
            </div>

                <hr class="border-primary border-3 opacity-75">
</div>




    



