

#bann{
    max-height: 250px;
}

#banner{
    
    resize:both;
    overflow:auto;
    
    object-fit: cover;
    mask-image: linear-gradient(to right ,transparent ,black );
    
    

}

#fotoPerfil{

    max-height: 250px;

    object-fit: cover;

    
    
    border-bottom-left-radius: 20px;
    mask-image: linear-gradient(to left ,transparent ,rgb(40,40,40) );
}

.myName{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container-about1{
    margin-top: 3%;
    margin-bottom: 3%;

}

#container-about2{
    
    align-items: center;
    
}

.container #container-about2 #btnEdit{
    margin-left: 2%;
    height: 98%;

}


