
<div class="container" >
    
  <div class="container d-flex" >
    <h2>Tecnologias</h2>
    <div  *ngIf="isLogged" class="btn-group ms-3" role="group">
      <button   (click)="add_habilidad()" class="d-flex flex-row align-items-center btn btn-outline-secondary">
        <i class="fa fa-plus"></i>
        <div class="align-middle ms-2">Add</div>
      </button>
      <button   class="btn btn-outline-secondary" routerLink="/home/tecnologias-list" id="btnEdit"><i class="fa fa-pencil" ></i></button>
    </div>
  </div>
  

  <div class="col col-md-6 mx-auto mt-4" >
    <canvas id="lenguajesChart"></canvas>
  </div>

</div>
