/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body{
    background-color: rgb(40,40,40);
    color: white;
    width: auto;
    height: auto;

    position: relative;
}

html{
  scroll-behavior: smooth;
}

#card-info-container{

    margin-top: 2%;
    margin-bottom: 2%;

  }
  
  #card-info{
     padding: 2%;
      background: rgb(70, 70, 70);
      border-radius: 10px;
      
         
  }
  


.form{

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 1% 2% 1% 5% ; 
  padding: 2%;

  background: rgb(70, 70, 70);
  border-radius: 10px;
  

  
  align-content: center;
}

.form .form-btn-group {
 display: flex;
 flex-direction: row;
 

}


#modal{
  background-color: rgb(80,80,80);
}

.btn-group{
  width: fit-content;
  height: 20%;
}